doctype html
html
  head
    title knowledgebase
    link(rel='stylesheet' href='/common.css')
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      a.navbar-brand(href='/') KnowledgeBase
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.nav.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/')
              | Home 
              span.sr-only (current)
          if user
            li.nav-item
              a.nav-link(href='/articles/add') Add article
        ul.nav.navbar-nav.navbar-right
          if user
            li 
              a(href='/users/logout') Logout
          else
            li
              a.nav-link(href='/users/register') Register
            li
              a.nav-link(href='/users/login') Login
    .container
      != messages('message', locals)
      if errors
        each error, i in errors
          div(class="alert alert-danger") #{error.msg}
      block content
      br
      hr
      footer
        p Copyright &copy; 2017
    script(src='/bower_components/jquery/dist/jquery.js')    
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/js/main.js')
